<script type="text/template" id="listingItemTemplate">
consloe.log('hello');

<li class="listing-container">
      <div class="listing-thumb">
        <img src="<%= images.small >" />
      </div>
      <div class="listing-info">                
        <div class="listing-header">
          2 BHK , Furnished
        </div>
        <div class="listing-subDetails">
          Sarjapur, Bangalore
        </div>
        <div class="listing-price">
          12,000
        </div>
      </div>  

    </li>
</script>