
<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        2 BHK Apartment 
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse in">
      <div class="accordion-inner">
        <div class="image-div-modal">
          <img src='img/placeholder.jpg' style="height:200px;width:400px;">
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
       Flat Details
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">

      <table class=" details-table-modal table">
       <tr>
          <th>Posted On:</th>
          <td>  Mar 18 2015</td>
        </tr>
         <tr>
          <th>Posted By:</th>
          <td>Dilipkumar (Broker)</td>
        </tr>
        <tr>
          <th>Number of Bathrooms:</th>
          <td>1</td>
        </tr>
        <tr>
          <th>Number of Balconies:</th>
          <td>1</td>
        </tr>
        <tr>
          <th>Direction Facing:</th>
          <td>North-East</td>
        </tr>
        <tr>
          <th>Parking Space:</th>
          <td>2 Wheeler Covered</td>
        </tr>
        <tr>
          <th>Possession:</th>
          <td> Mar 18 2015</td>
        </tr>
       
      </table>
      </div>
    </div>
  </div>
   <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
        More Details
      </a>
    </div>
    <div id="collapseThree" class="accordion-body collapse">
      <div class="accordion-inner">
      

 <table class=" details-table-modal table">
        <tr>
          <th>Deposit:</th>
          <td>15000</td>
        </tr>
        <tr>
          <th>Brokerage Terms:</th>
          <td> Not Mentioned</td>
        </tr>
        <tr>
          <th>Address:</th>
          <td>27th Main, Agara, HSR Layout, Bangalore-560102, Karnataka, INDIA.</td>
        </tr>
        <tr>
          <th>Ownership Type:</th>
          <td>Freehold</td>
        </tr>
        <tr>
          <th>Flooring:</th>
          <td>Marble Flooring</td>
        </tr>
        <tr>
          <th>Dining Space:</th>
          <td> Available</td>
        </tr>
         <tr>
          <th>Furnish State:  </th>
          <td>Semi Furnished</td>
        </tr>
      </table>
      </div>
    </div>
  </div>
</div>